<div id="<%= dom_id race %>" class="flex justify-between items-center border border-gray-200 rounded-md p-4">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <div class="w-4 h-4">
        <%= render "icons/run" %>
      </div>
      <div class="font-medium text-2xl"><%= race.title %></div>
    </div>
    <div class="flex flex-col gap-2">
      <%= race_status(race) %>
      <div class="text-sm text-gray-500 flex items-center gap-1">
        <div class="w-3 h-3">
          <%= render "icons/user" %>
        </div>
        <%= race.members_preview %>
      </div>
    </div>
  </div>
  <div>
    <% if race.live? %>
      <%= link_to "Submit Results", submit_results_race_path(race), data: { turbo_stream: true }, class: "text-blue-500 hover:text-blue-600" %>
    <% else %>
      <%= link_to "View Results", race_path(race), data: { turbo_stream: true }, class: "text-blue-500 hover:text-blue-600" %>
    <% end %>
  </div>
</div>

